# Qt generate file types

build-*/*
build-*
*-build-*
QSudokuForAndroid/*.pro.user
QSudokuForAndroid/*.pro.user.*
QSudokuForAndroid/*.moc
QSudokuForAndroid/*.bin
QSudokuForAndroid/moc_*.cpp
QSudokuForAndroid/qrc_*.cpp
QSudokuForAndroid/ui_*.h
QSudokuForAndroid/Makefile*
QSudokuForAndroid/*-build-*
